<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"
	rel="stylesheet">
</head>
<body class="container">

	<h1 class="display-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>
	
	<form method="post" action="/tutorial/tuto0004/delete" th:object="${formModel}">
	<input type="hidden" name="id" th:value="*{id}"/>
	<ul>
		<li>名前:<span th:text="*{name}"></span></li>
		<li>メール:<span th:text="*{mail}"></span></li>
		<li>年齢:<span th:text="*{age}"></span></li>
	</ul>
	<input type="submit" class="btn btn-primary" value="Delete"/>
	</form>
</body>
</html>