
.header　{
	padding-top: 20px;
	border-bottom: 1px solid #ddd;
}

.header__inner　{
	/**コンテンツ幅*/
	max-width: 1230px;
	/**スクリーンサイズをせばめたときにでも左右が見づらくならないように余白をあける*/
	padding-right: 15px;
	padding-left: 15px;
	/**左右中央寄せ*/
	margin-right: auto;
	margin-left: auto;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #222;
}

.footer--border-top-gray　{
	border-top: 1px solid #777;
}

.footer__inner {
	/**コンテンツ幅*/
	max-width: 1230px;
	/**スクリーンサイズをせばめたときにでも左右が見づらくならないように余白をあける*/
	padding-right: 15px;
	padding-left: 15px;
	/**左右中央寄せ*/
	margin-right: auto;
	margin-left: auto;
}